<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% include 'css_file.html' %}
</head>

<body class="app sidebar-mini ltr light-mode">
    <!--Sidebar start-->
    {% include 'side_bar.html' %}



<div class="page-header">
       <h1 class="page-title">Company Record</h1>
       <div>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="/dashboard_index">Home</a></li>
             <li class="breadcrumb-item active" aria-current="page">Company</li>
          </ol>
       </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">All Companies</h3>
                </div>
                <div class="card-body">
                    <div class="btn-list text-end mb-4">
                        <button type="button" class="btn btn-primary cusbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Company</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table border text-nowrap text-md-nowrap table-bordered mb-3">
                            <thead>
                                <tr>
                                <th>Sr. no</th>
                                <th>company name</th>
                                <th> comapny address</th>
                                <th>company state</th>
                                <th>company email</th>
                                <th>company phone.no</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in get_company %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{i.company_Name}}</td>
                                    <td>{{i.company_address}}</td>
                                    <td>{{i.company_state}}</td>
                                    <td>{{i.company_email}}</td>
                                    <td>{{i.company_phone_no}}</td>
                                    <td class="text-center"><a href="/detail_company/{{i.id}}" class="btn btn-primary btn-sm" title="View" data-bs-toggle="tooltip" ><i class="fe fe-eye"></i></a>
    <!--                                <a href="/company_update/{{i.id}}" class="btn btn-success">update</a></td>-->
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade modal-dialog-scrollable" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Company Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fe fe-x-circle"></i></button>
          </div>
          <div class="modal-body">
            <form method="POST" class="post-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">company Name <span class="text-red">*</span></label>
                            <input type="text" name="company_Name" value="{{company_Name}}" class="form-control" placeholder="company name" required/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">company address <span class="text-red">*</span></label>
                            <input type="text" name="company_address"  value="{{company_address}}" class="form-control" placeholder="company address " required/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Email address <span class="text-red">*</span></label>
                            <input type="email" name="company_email"  value="{{company_email}}" class="form-control" placeholder="Email  address " required/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Phone.no<span class="text-red">*</span></label>
                            <input type="text"  name="company_phone_no"  value="{{company_phone_no}}"class="form-control" pattern="[7-9]{1}[0-9]{9}" title="Phone number with 7-9 and remaing 9 digit with 0-9"  placeholder="Phone.no" required/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">Password<span class="text-red">*</span></label>
                            <input type="text"  name="company_Password" value="{{company_Password}}" class="form-control"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  placeholder="Password" required/>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">State <span class="text-red">*</span></label>
                            <input type="text" name="company_state" value="{{company_state}}" class="form-control" placeholder="State" required>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary w-100 cusbtn mb-0">Submit</button>
            </form>
          </div>
        </div>
    </div>
</div>




<!-- Modal -->
    {% if added %}
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-body">
            <h4>Company Details Added Sucessfully</h4>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
{% if name %}
<script>
    console.log("hello");
    $(window).on('load', function() {
        $('#exampleModal').modal('show');
    });

</script>
{% endif %}


    {% include 'footer.html' %}

    <!-- JQUERY JS -->
    {% include 'js.html' %}
    {% block js %}
    {% endblock %}




</body>
</html>



