{% load static %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/brand/favicon.ico' %}" />

    <!-- TITLE -->

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/dark-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/transparent-style.css' %}" rel="stylesheet">
    <link href="{% static 'css/skin-modes.css' %}" rel="stylesheet" />

    <!--- FONT-ICONS CSS -->
    <link href="{% static 'css/icons.css' %}" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'colors/color1.css' %}" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
