<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p><span>Hi {{interviwee_Profile.name}}</span><br><br>You have been invited by {{Company_name.company_Name}}&nbsp;for&nbsp;<span><strong>Test</strong></span>.<br>Please find below test link:&nbsp;<br><span></span><br>http://www.hiring.visiontrek.in/link/{{interviwee_Profile.link}}<br>This test will expire on&nbsp;<span><strong>{{interviwee_Profile.link_time}}</strong></span>.<br>
<p>If you face any issue in opening the test link.Please contact us on this mail {{interviwee_Profile.interviwer_mail}}</p>
<p>Regards</p>
<p>HR Team&nbsp;</p>

</body>
</html>