<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% include 'css_file.html' %}
</head>

<body class="app sidebar-mini ltr light-mode">
    <!--Sidebar start-->
    {% include 'side_bar.html' %}

    <div class="page-header">
       <h1 class="page-title">Ques in Sample Paper</h1>
       <div>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="/dashboard_index">Home</a></li>
             <li class="breadcrumb-item active" aria-current="page">Sample Paper</li>
          </ol>
       </div>
    </div>

    <div class="main-container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Sample Paper</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
<!--                        <div class="form-group">-->
<!--                            <label class="form-label">uuid <span class="text-red"></span></label>-->
<!--                            <input type="text" value="{{get_id.public_url}}" name="name" class="form-control" >-->
<!--                        </div>-->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Title<span class="text-red"></span></label>
                            <input type="text" value="{{get_id.title|title}}" name="name" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                             <label class="form-label">Duration(in minutes)<span class="text-red"></span></label>
                            <input type="text" value="{{get_id.duration}}" name="name" class="form-control"  readonly>
                        </div>
                    </div>


                    <div class="col-md-12">
                        {% for i in  get_ques %}

                        <div class="form-group">
                            <!--<label class="form-label">Question<span class="text-red"></span></label>-->
                            <div class="d-flex">
                                <p>{{forloop.counter}})&nbsp;</p>
                                <p>{{i.ques|safe}}</p>
                            </div>


                             {% if i.option_type %}
                                <div id="optionss1" class="">
                                        <div class="">
                                             a) <img src="{{i.ques_images1.url}}"  width="250" height="100">
                                             b) <img src="{{i.ques_images2.url}}"  width="250" height="100">
                                            c) <img src="{{i.ques_images3.url}}"  width="250" height="100">
                                            d) <img src="{{i.ques_images4.url}}"  width="250" height="100">
                                        </div>
                                   </div>
                                {% endif %}
                        {% for j in i.ques_option %}
                        <div id="optionss" class="">
                            <div class="d-flex">
                                <label class="form-label">{{forloop.counter}})</label>
                                <input type="text" class="form-control"   value="{{j}}"  readonly>
                            </div>
                        </div>
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


{% include 'footer.html' %}

    <!-- JQUERY JS -->
    {% include 'js.html' %}
    {% block js %}
    {% endblock %}
</body>
</html>