<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% include 'css_file.html' %}
</head>

<body class="app sidebar-mini ltr light-mode">
    <!--Sidebar start-->
    {% include 'side_bar.html' %}

    <div class="page-header">
       <h1 class="page-title">Hr Record</h1>
       <div>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="/dashboard_index">Home</a></li>
             <li class="breadcrumb-item active" aria-current="page">Hr Record</li>
          </ol>
       </div>
    </div>

    <div class="main-container">
        <div class="card">
<!--            <div class="card-header">-->
<!--                <h3 class="card-title">Update HR detail</h3>-->
<!--            </div>-->
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Hr Name <span class="text-red"></span></label>
                            <input type="text" value="{{get_hr.first_name}}" name="name" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Hr Email<span class="text-red"></span></label>
                            <input type="text" value="{{get_hr.email}}" name="name" class="form-control" readonly >
                        </div>
                      </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Hr Phone.no<span class="text-red"></span></label>
                            <input type="text" value="{{get_hr.phone_no}}" name="name" class="form-control" readonly >
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Added by<span class="text-red"></span></label>
                            <input type="text" value="{{request.user}}" name="name" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Password<span class="text-red"></span></label>
                            <input type="text" value="{{get_hr.password}}" name="name" class="form-control" readonly>
                        </div>
                    </div>

<!--                                        <div class="btn-list">-->
<!--                                            <button type="button" class="btn btn-success btn-pill">close</button>-->
<!--                                        </div>-->

                </div>
            </div>
        </div>
    </div>

{% include 'footer.html' %}

    <!-- JQUERY JS -->
    {% include 'js.html' %}
    {% block js %}
    {% endblock %}
</body>
</html>